server {
	listen 3200;
	listen [::]:3200;
	server_name example.com www.example.com;
	root /var/www/example.com/;
	error_page 404 /custom_404.html;
	location = / {
		proxy_pass https://google.com;
	}
	location = /custom_404.html {
		root /usr/share/nginx/html;
		internal;
	}
	location ~ /* {
		try_files $uri $uri/ =404;
	}
}